
@{
    ViewData["Title"] = "About Us - The She Driver Training Hub";
}

<h1 style="padding-bottom:25px; font-family:'Footlight MT'">About - The She Driver Training Hub</h1>
<div style="padding-bottom:25px;">
    <img src="~/Images/WebsiteImages/CarDriving.jpg" style="width:100%" height="300" />
</div>


<div id="title" style="padding:20px; text-align:left">

    <div class="row">

        <div class="col-md-12" style="display:block">

            <h4 style="font-family:'Footlight MT'; text-decoration: underline">Mission Statement</h4>

            <p>
                Our Mission is to provide qualified instructors who will educate each student with the necessary
                information and techniques to be a SAFE RESPONSIBLE DRIVER. To provide a learning friendly environment that meets the needs of each student’s
                learning style. To recognize and understand each student’s strengths and weaknesses. To provide each student with the proper training so they can
                obtain a New Zealand driver’s license.
            </p>

            <br />

            <h4 style="font-family:'Footlight MT'; text-decoration: underline">Why Choose The She Driver Training Hub?</h4>

            <p>
                The She Driver Training Hub has female driving instructors throughout New Zealand that
                provide excellent driving lessons for people of all ages and levels.
            </p>

            <p>
                We provide a platform for female instructors and other females trying to find instructor
                of the same gender which makes them feel more comfortable.
            </p>

            <br />

            <h4 style="font-family:'Footlight MT'; text-decoration: underline">Our Instructors</h4>

            <p>
                All our driving instructors are qualified with NZTA and are professional, friendly,
                calm and courteous at all times. Our instructors are highly skilled and adaptive to the
                each pupil.

            </p>

            <p>
                They are verified before being listed to ensure they are all qualified with NZTA.
                Driver training is organised directly with the instructors and they are willing to
                accomodate your needs.
            </p>

            <br />

            <h4 style="font-family:'Footlight MT'; text-decoration: underline">Our Locations</h4>

            <p>
                We are located throughout the New Zealand which includes Auckland, Christchurch, Dunedin, Hamilton, Nelson, Wellington and Whangerei.
            </p>

            <br />

            <p>
                Road safety is critical these days as road accidents are always growing, meaning more
                injuries and even worse, fatalities. Millions of people are injured on the world's roads
                and the number of deaths each year can be more than 1.2 million (World Health Organization,
                2015)
            </p>

            <p>
                Before you sit your driving test, everyone will learn how to drive and understand the road
                rules/code. Learning how to operate a vehicle to understanding different road signs can be
                learnt through driving instructors.
            </p>

            <p>
                Finding driving instructors can be pricey as well as nerve wrenching when you don't know
                what you are looking for. This is where you can find <b>The She Driver Training Hub</b> helpful
                which implement the best way to provide a functional website for customers looking to obtain their
                licenses.
            </p>

        </div>

    </div>

</div>