@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="title">
    <h1 class="display-3" style="font-family: 'Footlight MT';">The She Driver Training Hub</h1>
    <p style="font-family:'Footlight MT'; font-style:italic; font-size:larger"> Where "She" can drive in comfort</p>
</div>
<div>
    <img src="~/Images/WebsiteImages/Keys in Ignition.jpg" style="width:100%" height="300" />
</div>
<div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>

<div class="row">

    <div class="col-md-4" style="display: block; background-color:lightgoldenrodyellow">

        <img src="~/Images/WebsiteImages/Question.png" style="width: inherit" height="200" />

        <h2 style="font-family:'Footlight MT'">Why Choose Us?</h2>

        <p>
            <ul>
                <li>Quality lessons at affordable prices</li>
                <li>One on one lessons – helps relax our pupils without being distracted by someone behind</li>
                <li>Woman only instructors - providing a safe and comfortable environment for those wanting a woman instructor</li>
            </ul>
            Our instructors are committed to giving each student the individual attention they require to successfully equip themselves with sufficient skills to obtain their New Zealand driver’s licence and drive safely on the road.
        </p>
    </div>
    <div class="col-md-4" style="display:block; background-color:antiquewhite">
        <img src="~/Images/WebsiteImages/Instructor.jpg" style="width: inherit" height="200" />
        <h2 style="font-family:'Footlight MT'">Our Instructors</h2>
        <p>
            <ul>
                <li>Processional, friendly, calm instructors – Helps you make progress and maintain motivated</li>
                <li>Fully qualified and approved – For your own safety and to know your getting what you paid for</li>
                <li>Quality lessons at affordable prices</li>
            </ul>
            Our instructors are professional, friendly, calm and courteous at all times. Our instructors are highly skilled and adaptive to the each pupil.
            They are verified before being listed to ensure they are all qualified with NZTA. Driver training is organised directly with the instructors and they are willing to accomodate your needs.

        </p>
    </div>
    <div class="col-md-4" style="display: block; background-color:peachpuff">
        <img src="~/Images/WebsiteImages/Location.jpg" style="width: inherit" height="200" />
        <h2 style="font-family:'Footlight MT'">Our Locations</h2>
        <p>
            <ul>
                <li>Auckland</li>
                <li>Christchurch</li>
                <li>Dunedin</li>
                <li>Hamilton</li>
                <li>Nelson</li>
                <li>Wellington</li>
                <li>Whangerei</li>
                <li></li>
            </ul>
            Our instructors come from all around New Zealand.  We are proud to say that we have instructors in both the North and South Island.
            As the need for more instructors grow, the more areas we will eventually cover.
        </p>
    </div>
</div>

