
@{
    ViewData["Title"] = "Resources - The She Driver Training Hub";
}

<h1 style="font-family:'Footlight MT'">Resources</h1>



<div style="padding-bottom:25px;">
    <img src="~/Images/WebsiteImages/NZ Roads.jpg" style="width:100%" height="300" />
</div>


<div class="text-center" id="title">

    <br />

    <h5>

        Here you can find a range of different resources to guide to getting your drivers license.
        <br />
        If you still can’t find what you are looking for, please check the FAQs before sending us an enquiry.

        <br />
        <br />
        <p style="text-decoration:underline">
            Some Helpful Resources and Links
        </p>
    </h5>

    <br />

    <div class="row">

        <div class="col-md-6" style="display:block">

            <p style="text-align:center"><a href="https://www.nzta.govt.nz/driver-licences/getting-a-licence/licences-by-vehicle-type/cars/learners-licence/how-to-get-a-learner-licence/">How to get a learner licence</a></p>

            <p style="text-align:center"><a href="https://drive.govt.nz/get-your-learners/find-out-about-the-test/preparing-for-the-learners-test/">Preparing for the learner's test</a></p>

            <p style="text-align:center"><a href="https://drive.govt.nz/get-your-learners/interactive-road-code/">Learn the Road Code</a></p>

            <p style="text-align:center"><a href="https://www.govt.nz/browse/transport/driver-licences/renew-your-driver-licence/">Renew your driver licence</a></p>

            <p style="text-align:center"><a href="https://vtnz.co.nz/getting-your-licence/car-licence/restricted-car-licence/">Restricted License Preperation</a></p>


        </div>

        <div class="col-md-6" style="display:block; padding-left:20px;">
            <p style="text-align:center"><a href="https://www.nzta.govt.nz/driver-licences/getting-a-licence/licences-by-vehicle-type/cars/restricted-licence/restricted-licence-conditions/">Restricted licence conditions</a></p>

            <p style="text-align:center"><a href="https://www.aa.co.nz/assets/about/events/aa-def/pdf/going-solo-brochure.pdf">A resource for parents and restricted licence drivers</a></p>

            <p style="text-align:center"><a href="https://www.transport.govt.nz/land/timelicences/timelicencesqanda/">Time limits for holding learner and restricted licences</a></p>

            <p style="text-align:center"><a href="https://drive.govt.nz/prepare-for-the-full/about-the-full-test/preparing-for-your-full-licence-test/">Preparing for your full licence test</a></p>

            <p style="text-align:center"><a href="https://www.hypnosisdownloads.com/blog/how-to-pass-your-driving-test">How to Pass Your Driving Test</a></p>

        </div>


    </div>

</div>

<div class="text-center" id="title">

    <br />
    <h5 style="text-decoration:underline">Some Common Frequently Asked Questions</h5>

    <div style="text-align:left; padding:5%">

        <h6><b style="text-decoration:underline">Question:</b> How many hours practice should I have before I take the test for my license?</h6>
        <p><b style="text-decoration:underline">Answer:</b> It is recommended to have at least 120 hours of practice</p>
        <br />

        <h6><b style="text-decoration:underline">Question:</b> Is my foreign license accepted in New Zealand?</h6>
        <p><b style="text-decoration:underline">Answer:</b> Yes, you can use your foreign license for the first year you are in NZ. After that you will have to convert to a NZ license</p>
        <br />

        <h6><b style="text-decoration:underline">Question:</b> What age do I need to be to get my NZ learner license?</h6>
        <p><b style="text-decoration:underline">Answer:</b> 16 years of age</p>
        <br />

        <h6><b style="text-decoration:underline">Question:</b>  Do I have to pass a driving test to drive a moped/scooter?</h6>
        <p><b style="text-decoration:underline">Answer:</b> Yes, you have to pass your Class 1 or 6 learners license</p>
        <br />

        <h6><b style="text-decoration:underline">Question:</b> How do I get my learner license?</h6>
        <p><b style="text-decoration:underline">Answer:</b>  You have to study the Road code and sit the theory test</p>
        <br />

        <h6><b style="text-decoration:underline">Question:</b>Does it cost money to get my learner license?</h6>
        <p><b style="text-decoration:underline">Answer:</b> Yes, the cost for the learner’s license test is $93-90</p>
        <br />

        <h6><b style="text-decoration:underline">Question:</b> How do I know what I should be focusing on when taking my son/daughter for driving lessons?</h6>
        <p>
            <b style="text-decoration:underline">Answer:</b> Ask your child what they learnt on their professional driving lessons
            and focus on those things. Don’t make it too complicated, keep it simple and just practice
            the basics over and over. Think about how you do things yourself - at the end of the day you
            are only passing on your knowledge.
        </p>

        <br />

    </div>

</div>

